body {
	background-color: white;
}

.title-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	max-width: 200px;
	flex-grow: 1;
	font-weight: 500 !important;
	color: rgb(0, 0, 0);
}

.login-page-container {
	padding: 1em;
	display: block;
	margin: auto;
}

.login-instructions {
	font-size: 3.5em;
	font-weight: 100;
	text-align: center;
	font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #484848;
	display: block;
	margin: auto;
	padding-bottom: 0.5em;
}

.outer-login-box {
	background: linear-gradient(
		90deg,
		rgba(237, 237, 237, 0.75) 0%,
		rgba(237, 237, 237, 1) 10%,
		rgba(237, 237, 237, 1) 90%,
		rgba(237, 237, 237, 0.75) 100%
	);
	position: absolute;
	margin: auto;
	width: 100%;
	height: 35%;
	transition: all 0.25s ease;
	transform: translateY(calc(35vh - 25%));
	color: #484848;
}

.login-box {
	position: relative;
	background-color: #ffffff;
	text-align: center;
	height: 18em;
	margin: auto;
	border-radius: 0.5em;
	width: 30em;
	color: #484848;
	filter: drop-shadow(0px 0px 0.1rem #020a05ee);
	transition: all 0.25s ease, transform 0s;
	transform: translateY(25%);
}

.login-box:hover {
	filter: drop-shadow(0px 0px 0.125rem #020a05);
}

.Fade-In {
	animation: fade 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.like-button-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
    padding: 16px 24px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
}
.like-button-wrapper::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    will-change: background-color;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #222f3e;
    box-shadow: 0 0 10px #22303f 8c;
    border-radius: 8px;
}
.like-button-wrapper:hover:not(.liked) svg {
    transform: translateY(-2px) rotate(8deg);
}
.like-button-wrapper:hover:not(.liked) svg #thumb-end {
    transform: rotate(45deg) translate(5px, -45px);
}
.like-button-wrapper.clicked::before {
    animation: click 300ms;
}
.like-button-wrapper.liked::before {
    background-color: #54a0ff;
}
.like-button-wrapper.liked svg {
    animation: hop 500ms;
}
.like-button-wrapper .like-button {
    display: flex;
    align-items: center;
    z-index: 1;
    transform: translateX(3px);
}
.like-button-wrapper .particles {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.like-button-wrapper .particles .particle-rotate {
    position: absolute;
}
.like-button-wrapper .particles .particle-rotate:nth-child(1) {
    right: 0;
    top: 50%;
}
.like-button-wrapper .particles .particle-rotate:nth-child(2) {
    right: 0;
    bottom: 0;
}
.like-button-wrapper .particles .particle-rotate:nth-child(3) {
    right: 33%;
    bottom: 0;
}
.like-button-wrapper .particles .particle-rotate:nth-child(4) {
    right: 66%;
    bottom: 0;
}
.like-button-wrapper .particles .particle-rotate:nth-child(5) {
    left: 0;
    bottom: 0;
}
.like-button-wrapper .particles .particle-rotate:nth-child(6) {
    left: 0;
    bottom: 50%;
}
.like-button-wrapper .particles .particle-rotate:nth-child(7) {
    left: 0;
    top: 0;
}
.like-button-wrapper .particles .particle-rotate:nth-child(8) {
    left: 33%;
    top: 0;
}
.like-button-wrapper .particles .particle-rotate:nth-child(9) {
    left: 66%;
    top: 0;
}
.like-button-wrapper .particles .particle-rotate:nth-child(10) {
    right: 0;
    top: 0;
}
.like-button-wrapper .particles .particle-tick {
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 1px;
    background-color: #54a0ff;
    animation: boom 500ms;
    transform: translateX(-25px);
}
.like-button-wrapper svg {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    transform: translateY(-2px);
    transition: transform 0.2s;
}
.like-button-wrapper svg #thumb-end {
    transition: transform 0.2s;
}
.like-button-wrapper .suffix {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translateX(15px);
}
.like-button-wrapper .suffix.liked {
    opacity: 1;
    transform: translateX(0);
}
@keyframes hop {
    0% {
        transform: rotate(8deg) translateY(-2px);
   }
    30% {
        transform: rotate(-14deg) translateY(-5px);
   }
    65% {
        transform: rotate(7deg) translateY(2px);
   }
    100% {
        transform: rotate(0deg) translateY(-2px);
   }
}
@keyframes click {
    0% {
        transform: scale(1);
   }
    50% {
        transform: scale(0.96);
   }
    100% {
        transform: scale(1);
   }
}
@keyframes boom {
    0% {
        transform: translateX(-25px);
        opacity: 1;
   }
    100% {
        transform: translateX(50px);
        opacity: 0;
   }
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
